<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
  <style>
    embed {
      vertical-align: middle;
      width: 361px;
      height: 200px;
    }
  </style>
</head>

<body style="background-color: #eee;">
  <% for (var i=0; i < users.length; /* I save the data in a variable 'users' , I don't know how you named your variable
    */ i++) { %>
    <section>
      <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">
                  <%= users[i].Name %>
                </h5>
                <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">
                  <%= users[i].Permanent_Address %>
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        <%= users[i].Name %>
                      </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">example@example.com</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        <%= users[i].Mobile_No %>
                      </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Mobile</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        <%= users[i].Mobile_No %>
                      </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        <%= users[i].Permanent_Address %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Joining Date</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Date %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Education</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Education %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Date of Birth</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Date_Of_Birth %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">PAN number</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Pan_No %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Aadhar number</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Aadhar_No %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Emergancy Contact NO</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Emergency_Contact_No %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Work Experience</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Work_Experience %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Previous Compony Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">
                      <%= users[i].Work_Experience %>
                    </p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Aadhar Card Proof</p>
                  </div>
                  <div class="col-sm-9">
                    <img src="<%= users[i].Aadhar_img %>" width="400px" height="300px">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Pan Card Proof</p>
                  </div>
                  <div class="col-sm-9">
                    <!-- <img class="img" src="<%= users[i].Aadhar_img %>" alt="adhar"> -->
                    <embed src="<%= users[i].Pan_img %>" width="400px" height="300px" />
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Education certificate Proof</p>
                  </div>
                  <div class="col-sm-9">
                    <!-- <img class="img" src="<%= users[i].Aadhar_img %>" alt="adhar"> -->
                    <embed src="<%= users[i].Education_certificate %>" width="400px" height="300px" />
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">resume</p>
                  </div>
                  <div class="col-sm-9">
                    <!-- <img class="img" src="<%= users[i].Aadhar_img %>" alt="adhar"> -->
                    <embed src="<%= users[i].resume %>" width="400px" height="300px" />
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
    </section>
    <% } %>

      <!-- MDB -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
</body>

</html>